In [ ]:
import datetime as dt
import pandas as pd
import numpy as np
import time

def preprocess():
    rnames = ['userId', 'movieId', 'rating','timestamp']
    ratings_df = pd.read_table('https://raw.githubusercontent.com/vvviet2908/Recommender_System/main/ratings.dat', sep='::',
              header=None, names=rnames, engine='python')
    # ALL TRAIN SET (positive-only)
    all_train_data = ratings_df[ratings_df['rating']==5]
    all_train_data = ratings_df.drop(['rating'], axis=1)

    # only users 1 < rated_movies < 101
    all_train_data = all_train_data.groupby("userId").filter(lambda x: len(x) > 1 and len(x) < 1000)
    all_train_data.columns = ['SessionId', 'ItemId', 'Timestamps']
    all_train_data= all_train_data[['SessionId', 'Timestamps', 'ItemId']]
    all_train_data.to_csv('Movielens1M_positive.csv', index=False)
    return all_train_data
preprocess()

         SessionId  Timestamps  ItemId
0                1   978300760    1193
1                1   978302109     661
2                1   978301968     914
3                1   978300275    3408
4                1   978824291    2355
...            ...         ...     ...
1000204       6040   956716541    1091
1000205       6040   956704887    1094
1000206       6040   956704746     562
1000207       6040   956715648    1096
1000208       6040   956715569    1097

[949316 rows x 3 columns]